@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Sofia+Sans:wght@100&display=swap');

h1{
    font-family: 'Moon Dance', cursive;
    text-align: center;
    color:whitesmoke;
    font-weight: bold;  
    font-size: 50px;  
}

body{
    background-color: rgb(128, 0, 26);

}

img{
    align-items: center;
    width: 20%;
    height: 20%;
    margin-left: 520px;
}

h2{
    text-align: center;
    font-size: 60px;
    color: whitesmoke;
    font-family: 'Moon Dance', cursive;
}

p{
    text-align: center;
    font-size: 20px;        
    color:whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 250px;
    margin-right: 250px;

}
header{
    font-size: 29px;
    background-color: aliceblue;
}