    

header{
    background-color: rgb(201, 235, 243);
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
   

}
#content {
    max-width: 1600px;
    margin:0 auto;
    text-align: center;
}

body{
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    background-color: rgb(201, 235, 243);
    font-size: 22px;
    padding: 0;
    margin:0

}

nav a { 
    background-color:rgb(201, 235, 243);
    text-decoration: none;
    
    
}

nav a:hover {
    text-align: center;
    background-color: rgb(245, 249, 250);
}

#hero-msg h1 {
    text-align: center;
    
}

#hero-msg h4 {
    text-align: center;
}

main-section{
    text-align: center;
}

#background {
    height: 725px;
    background-color: rgb(201, 235, 243);
}

footer{
    background-color: rgb(201, 235, 243);
    font-size: 1.2em;
    padding: 25px 50px;
}

.button-box {
    text-align: center;
    font-size: 1.2em;

}

.msg{
    background-color: rgb(201, 235, 243);
    font-size: 18px;
    line-height: 1.5em;
    padding: 35px;
}

.book {
    background-color: blanchedalmond;
    text-decoration: none;
    font-size: 18px;
    padding: 3px 30px;
    border-radius: 5px;
}

.book:hover{
    background-color: rgb(243, 249, 250);
}

.join {
    background-color: rgb(201, 235, 243);
    text-decoration: none;
    padding:15px 30px;
    border-radius: 5px;
    
}

.join:hover {
    background-color: rgb(241, 247, 248)
}

.logo {
    width:150px;
   
}

footer p{
    font-size: 1.2em;
    padding: 25px;
}

h2 {
    margin: 0;
}

#hero-img {  /* primeira foto com a galera no barco*/
    width: 800px;
    border:1px solid black
}

.card-img2{      /*cara de amarelo no barco*/       
    width: 60%;
    height:344px;
    border:5px solid yellow;
    margin-top:200px
}

.icon {          /* rio marrom*/
    width:40%;
    border:1px solid black;
    margin-left: 60px;
    margin-top: 25px;
    
}

.icon2 {          /* tenda cinza*/
    width:40%;
    /*border:20px solid grey */
    border:1px solid black;
    margin-left:60px;
    margin-top: 25px;
}

.icon3 {           /* barco laranja*/ 
    width:40%;
    margin-left: 60px;
    margin-top:25px;
    margin-bottom: 20px;
}

.card-img{      /* rio azul , barraca laranja e  branco branco*/
    width:40%;
    display: block;
    border:1px solid black;
    margin-left: 435px;
    margin-top: 25px;
    
}

.mountains {         /*ultima foto das montanhas*/   
    height:300px;
    height:344px;
    border:5px solid yellowgreen
}


   